@using Microsoft.AspNetCore.Mvc.Localization
@{
    Layout = "~/Views/Shared/newLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@SharedLocalizer["Payment.Title"] - Shop</title>
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet" href="css/bootstrap-payment-forms.min.css" />
</head>
<body>
    <style>
        .gradient-custom {
            background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
            background-blend-mode: screen, color-dodge, overlay, difference, normal;
        }
    </style>
    <section class="gradient-custom d-flex align-items-center justify-content-center py-5" style="min-height: calc(100vh - 136px);">
        <div class="card shadow" style="border-radius: 15px; max-width: 420px; width: 100%;">
            <div class="card-body p-4">
                <form>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="form-outline flex-grow-1 me-2">
                            <input type="text" id="typeText" class="form-control form-control-lg" placeholder="@SharedLocalizer["Payment.CardNumberPlaceholder"]" minlength="16" maxlength="16" pattern="\d{4} \d{4} \d{4} \d{4}" required />
                            <label class="form-label" for="typeText">@SharedLocalizer["Payment.CardNumberLabel"]</label>
                        </div>
                        <img src="https://img.icons8.com/color/48/000000/visa.webp" alt="MasterCard" width="64px" />
                    </div>
                    <div class="form-outline mb-4">
                        <input type="text" id="typeName" class="form-control form-control-lg" placeholder="@SharedLocalizer["Payment.CardholderPlaceholder"]" pattern="[A-Za-z ]+" required />
                        <label class="form-label" for="typeName">@SharedLocalizer["Payment.CardholderLabel"]</label>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pb-2">
                        <div class="form-outline me-2">
                            <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="@SharedLocalizer["Payment.ExpirationPlaceholder"]" minlength="7" maxlength="7" pattern="(0[1-9]|1[0-2])\/\d{4}" required />
                            <label class="form-label" for="typeExp">@SharedLocalizer["Payment.ExpirationLabel"]</label>
                        </div>
                        <div class="form-outline me-2">
                            <input type="password" id="typeCvv" class="form-control form-control-lg" placeholder="•••" minlength="3" maxlength="3" pattern="\d{3}" required />
                            <label class="form-label" for="typeCvv">@SharedLocalizer["Payment.CVVLabel"]</label>
                        </div>
                        <button type="submit" class="btn btn-info btn-lg btn-rounded" asp-controller="Order" asp-action="FinalizeOrder" asp-route-paymentMethod="Credit Card">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const cardNumber = document.getElementById("typeText");
            cardNumber.addEventListener("input", function () {
                if (this.validity.patternMismatch) {
                    this.setCustomValidity("@SharedLocalizer["Payment.CardNumberValidation"]");
                } else {
                    this.setCustomValidity("");
                }
            });
            const cardName = document.getElementById("typeName");
            cardName.addEventListener("input", function () {
                if (this.validity.patternMismatch) {
                    this.setCustomValidity("@SharedLocalizer["Payment.CardholderValidation"]");
                } else {
                    this.setCustomValidity("");
                }
            });
            const cardExp = document.getElementById("typeExp");
            cardExp.addEventListener("input", function () {
                if (this.validity.patternMismatch) {
                    this.setCustomValidity("@SharedLocalizer["Payment.ExpirationValidation"]");
                } else {
                    this.setCustomValidity("");
                }
            });
            const cardCvv = document.getElementById("typeCvv");
            cardCvv.addEventListener("input", function () {
                if (this.validity.patternMismatch) {
                    this.setCustomValidity("@SharedLocalizer["Payment.CVVValidation"]");
                } else {
                    this.setCustomValidity("");
                }
            });
        });
    </script>
</body>
</html>